body{
    
    background: linear-gradient(45deg, #0c1411, #163529) ; /* Bottom color */
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
}


#body-container{
   
    background: linear-gradient(45deg, rgba(17, 17, 17, 0.5), rgba(235, 230, 230, 0.2));
  /* Top color with transparency */
  box-shadow: 0 5px 5px rgba(252, 251, 251, 0.8), 0 8px 15px rgba(148, 90, 3, 0.8);
  border-radius: 10px;
  padding: 20px;
  color: white;
  text-align: center;
  
  border: 2px solid rgb(243, 238, 238);
  width: 1000px;
  max-width: 1000px;
  height: 150px;
  }
    
#logo{
    display: flex;
    color: aliceblue;
    justify-content: center;
    max-width: 1000px;
    height: auto;
    font-size: 50px;
    font-family:  serif;
    
}

#the-hairdresser{
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    max-width: 1000px;
    height: auto;
    font-size: 50px;
}
#enter-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#link{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  width: 1000px;
}

#links-div{
  width: 1000px;
  align-content: center;
}